<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <%- include('./partials/head.ejs') %>
    <title>blog</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
   

     <div class="container mt-4">

        <h1><%= blog.title %></h1>     
        
        <img src="<%= blog.coverimage %>" alt="blog" width="600px" height="500px">

         <pre><%= blog.body %></pre>


     </div>
 
 <!-- blog owner infomation show -->
     <div class="containerowner mt-4 ms-4">
        <img src="<%= blog.owner.avatar %>" alt="" width="50px"> 
        <b><%= blog.owner.fullname%></b>

        
     </div>

     <h2 class="ms-4 mt-3">comment (<%= comments.length %>)</h2>

      

     <!-- //user signined asel trch comment kru shakto -->
    <% if (locals.user) { %>
     
        <div class="containercomment mt-4 me-4 ms-4">
           <form action="/blog/comment/<%= blog._id %>" method="post">
               <input type="text" name="content" class="form-control" placeholder="add comment for <%= user.fullname %>">
               <button class="btn btn-primary mt-3">send</button>

               
   
           </form>
   
        </div>
       
    <% } %>
   <!-- show users comments on that blog -->
   <div class="usersendcomments mt-3 me-4 ms-4">
    <!-- single comment nhi multip user chya comments asnare so 
    use loop -->
    <% comments.forEach(comment => { %>
        <img src="<%= comment.createdby.avatar %>" alt="" width="20px"> 
    <%= comment.createdby.fullname%> 
     <p><%= comment.content %></p> 
     
     <!-- delete comments of  user blogs -->
     <% if (locals.currentblogowner) { %>
        <a href="/blog/delete/comment/<%= comment._id %>"class="btn btn-danger">Delete</a>
     
        <% } else if (comment.createdby.fullname === user.fullname) { %>
        <a href="/blog/delete/comment/<%= comment._id %>"class="btn btn-danger">Delete</a>
        <% } %>


 
    </br>
</br>
     
    <% }) %>

 </div>

    <%- include('./partials/script.ejs') %>

</body>
</html>